body{
    background-image: linear-gradient( to right,#ec331b,#13147c);
}
.form{
            border: none;
            background-color: white;
            border-left: 2px solid;
            box-sizing: border-box;
            padding: 20px;
            background-color: none;
            border-color: rgb(21, 47, 167);
            border-radius: 20px;
            margin: 10px;
           
            
           
}

.btn1{
    border-radius: 60px;
    box-sizing: border-box;
    background-image: linear-gradient( to right,#ec331b,#13147c);
   text-align: center;
    transition: 1s;
    color: floralwhite;
}

input[type=text], input[type=email], input[type=tel], input[type=number]{
    
    border: none;
    border-bottom:2px solid rgb(211, 126, 30);
  
 }
 .join{
     text-align: center;
     margin-top:250px;
 }