body {
    background-color: #242582;
    background-size:auto ;
    
}

/******************** about content of the card **************************/

.content {
    color: #fff;
    border: solid;
    border-width: 2px;
    text-align: center;
    padding: 80px 20px;
    border-radius: 500px;
}

.content p {
    color: #999;

}
/************************* for the card 1 ***********************************/

.card1 {
    width: 350px;
    height: 300px;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 80px auto;
    transition: 2s;
    border-radius: 500px;
    
}



.card1:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}
.content{
    border-style: solid;
}

/**********************  for the card 2 ****************************/


.card2 {
    width: 350px;
    height: 300px;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 80px auto;
    transition: 2s;
    border-radius: 500px;
    
}



.card2:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}

/********************* for card 3**********************/

.card3 {
    width: 350px;
    height: 300px;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 80px auto;
    transition: 2s;
    border-radius: 500px;
    
}

.card3:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}

/******************for card 4 ****************************/

.card4 {
    width: 350px;
    height: 300px;
    
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
    transition: 2s;
    border-radius: 500px;
    
}

.card4:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}
/**********************  for the card 5 ****************************/

.card5 {
    width: 350px;
    height: 300px;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
    transition: 2s;
    border-radius: 500px;
    
}



.card5:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}





/********************* for card 6 **********************/
.card6 {
    width: 350px;
    height: 300px;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
    transition: 2s;
    border-radius: 500px;
    
}
.card6:hover  {
    transform: translateY(20%);
    transition: 2s;
    border-radius: 500px;
    background-color:black;
    opacity:0.5;
    
  
}

